<!-- templates/Booking_Room_Manager/calendar.html -->

{% extends 'base.html' %}

{% block content %}
<body>
    <h2>Календарь переговорных комнат</h2>
    <table>
        {% for slot in time_slots %}
        <tr>
            <td>{{ slot.time }}</td>
            {% for room in slot.rooms %}
                <td>
                    {% if room.booked %}
                        <div class="busy">Занято</div>
                    {% else %}
                    <a href="{% url 'book_room' %}?room={{ room.id }}&time={{ slot.time|time:'H:i' }}">
                        Свободно
                    </a>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}